<h1>My Tasks</h1>

<% @tasks.each do |task| %>
  <div>
    <input type="checkbox" id="task" name="task" onclick="return false;" <%=task.completed ? 'checked' : ''%>>
    <label for="task"><%= link_to task.title, task_path(task) %></label>
    <%= link_to "Delete",
            task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  </div>
<% end %>
<br>
<%= link_to "Add a new task", task_new_path%>

